<footer class="footer">
    <address class="footer__contact">
        <p>Contacto: <a href="mailto:contacto@ejemplo.com" class="footer__contact-link">contacto@ejemplo.com</a></p>
    </address>
</footer>