<header class="header">
    <div class="menu-icon">☰</div>
    <nav class="header__navegacionCentral">
        <ul class="navegacionCentral__list">
            <li class="navegacionCentral__item"><a href="#">Inicio</a></li>
            <li class="navegacionCentral__item"><a href="#">Productos</a></li>
            <li class="navegacionCentral__item"><a href="#">Ofertas</a></li>
            <li class="navegacionCentral__item"><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>