<article class="product">
    <h1 class="product__title"><%= product.nombre %></h1>
    <img src="https://via.placeholder.com/200x150" alt=<%= product.nombre %> class="product__image">
    <p class="product__description"><%= product.descripcion %></p>
    <p class="product__price">Precio: $<%= product.precio %></p>
</article>